<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/headersale.css">
    <link rel="stylesheet" href="../css/tablet.css">
    <link rel="stylesheet" href="../css/notebook.css">
    <link rel="stylesheet" href="../css/message-card.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d48642b65b.js" crossorigin="anonymous"></script>
    <title>Sensoriale</title>
</head>
<body class="body">
    <%- include ('../partials/headersale') %>
    <main class="main">
        <div class="main-header-space"></div>
        <div class="article-img"></div>
        <section class="main-message-card">
            <p>creá tu tarjeta personalizada</p>
            <section class="section-message-card">
                <form action="/get-in" method="POST" class="form-message-card">
                    <div class="font-type">
                        <h4>elegí una tipografía</h4>
                        <div class="form-select-font">
                            <select name="font" id="font">
                                <option value="confortaa" id="confortaa">confortaa</option>
                                <option value="sanz-serif" id="sans-serif">sanz-serif</option>
                                <option value="arial" id="arial">arial</option>
                            </select>
                        </div>
                    </div>             
                    <div class="letter-style">
                        <div class="black">
                            <input type="checkbox" name="lleter-style" value="black" id="black">
                            <label for="black"><b>negrita</b></label>                       </div>
                        <div class="italic">    
                            <input type="checkbox" name="lleter-style" value="italic" id="italic">
                            <label for="italic"><i>itálica</i></label>
                        </div>
                    </div>
                    <div class="for-name">
                        <label for="name">para:</label>
                        <input class="input" type="text" placeholder="nombre" id="name" required>
                    </div>
                    <div class="textarea">
                        <label for="textarea">escribí tu mensaje:</label>
                        <textarea name="textarea" id="textarea" cols="10" rows="10" placeholder="escribí tu mensaje"></textarea>
                    </div>
                    <div class="from-name">
                        <label for="fname">de:</label>
                        <input class="input" type="text" placeholder="nombre" id="fname">
                    </div> 
                    <div class="btn-erase">
                        <button id="btn-erase" type="reset"> borrar datos </button>
                    </div>                
                    <div class="btn-enter">
                        <button id="btn-enter" type="submit">guardar mensaje</button>
                    </div>
                </form>
            </section>
            <div class="to-payment"><a href="/envio">omitir</a></div>
        </section>
    </main>    
    <%- include ('../partials/footer') %>
</body>
</html>