<%- include ('../partials/head') %>
<body class="body">
    <%- include ('../partials/header') %>
    <main class="main">
        <div class="main-header-space"></div>
        <section class="articles-selection">
            <section class="articles-inputs">
                <h4>filtrá tu búsqueda</h4>
                <form action="/get-in" method="POST" class="form-inputs">
                    <div class="form-select-gender">
                        <select name="gender" id="gender">
                            <option value="mujeres" id="mujeresB">mujeres</option>
                            <option value="hombres" id="hombresB">hombres</option>
                            <option value="unisex" id="unisexB">unisex</option>
                            <option value="outlet" id="outletB">outlet</option>
                        </select>
                    </div>
                    <div class="form-select-marca">
                        <select name="marca" id="marca">
                            <option value="ch" id="ch">carolina herrera</option>
                            <option value="dior" id="dior">dior</option>
                            <option value="kenzo" id="kenzo">kenzo</option>
                        </select>
                    </div>
                    <div class="form-select-modelo">
                        <select name="modelo" id="modelo">
                            <option value="opcion1" id="opcion1">opcion1</option>
                            <option value="opcion2" id="opcion2">opcion2</option>
                            <option value="opcion3" id="opcion3">opcion3</option>
                        </select>
                    </div>
                    <div class="min-price">
                        <input class="input" type="number" placeholder="$ precio mínimo" required pattern="[0-9]">
                    </div>                
                    <div class="max-price">
                        <input class="input" type="number" placeholder="$ precio máximo" required pattern="[0-9]">
                    </div>
                    <div class="btn-erase">
                        <button id="btn-erase" type="reset"> borrar datos </button>
                    </div>                
                </form>
            </section>
            <section class="articules-section">
                <article class="article-a">
                    <section class="image">
                    <a href="/detalle">
                    <figure>
                        <img class="img" src="/images/hugo boss-1.jpg" alt="">
                    </figure>
                    </a>
                </section>
                        <div  class="descripcion"><p>HUGO BOSS BOTTLED EDT</p></div>
                        <p class="precios">$7.600</p>
                </article>
                <article class="article-a">
                    <section class="image">
                    <a href="/detalle">
                    <figure>
                        <img class="img" src="/images/hugo-boss-2.jpg" alt="">
                    </figure>
                    </a>
                </section>
                        <div  class="descripcion"><p>HUGO BOSS THE SCENT EDT</p></div>
                        <p class="precios">$7.950</p>
                </article>
                <article class="article-a">
                    <section class="image">
                    <a href="/detalle">
                    <figure>
                        <img class="img" src="/images/hugo-boss-3.jpg" alt="">
                    </figure>
                    </a>
                </section>
                        <div  class="descripcion"><p>HUGO BOSS THE SCENT FOR HER EDP</p></div> 
                        <p class="precios">$8.450</p>
                </article>
                <article class="article-a">
                    <section class="image">
                    <a href="/detalle">
                    <figure>
                        <img class="img" src="/images/CH-1.jpg" alt="">
                    </figure>
                    </a>
                </section>
                        <div class="descripcion"><p>CAROLINA HERRERA 212 VIP MEN EDT</p></div>
                        <p class="precios">$7.780</p>
                </article>
                <article class="article-a">
                    <section class="image">
                    <a href="/detalle">
                    <figure>
                        <img class="img" src="/images/CH-2.jpg" alt="">
                    </figure>
                    </a>
                </section>
                        <div class="descripcion"><p>CAROLINA HERRERA
                            212 VIP ROSE EDP</p></div>
                        <p class="precios">$6.870</p>
                </article>
                <article class="article-a">
                    <section class="image">
                    <a href="/detalle">
                    <figure>
                        <img class="img" src="/images/CH-3.jpg" alt="">
                    </figure>
                    </a>
                </section>
                        <div class="descripcion"><p>CAROLINA HERRERA
                            212 VIP EDP</p></div>
                        <p class="precios">$11.225</p>
                </article>
                <article class="article-b">
                    <section class="image">
                    <a href="/detalle">
                    <figure>
                        <img class="img" src="/images/ANTONIO BANDERAS THE GOLDEN SECRET EDT.jpg" alt="">
                    </figure>
                    </a>
                </section>
                        <div class="descripcion"><p>ANTONIO BANDERAS THE GOLDEN SECRET EDT</p></div>
                        <p class="precios">$6.770</p>
                </article>
                <article class="article-b">
                    <section class="image">
                    <a href="/detalle">
                    <figure>
                        <img class="img" src="/images/ANTONIO BANDERAS THE SECRET EDT.jpg" alt="">
                    </figure>
                    </a>
                </section>
                        <div class="descripcion"><p>ANTONIO BANDERAS THE SECRET EDT</p></div>
                        <p class="precios">$6.770</p>
                </article>
                <article class="article-b">
                    <section class="image">
                    <a href="/detalle">
                    <figure>
                        <img class="img" src="/images/ANTONIO BANDERAS HER SECRET DESIRE EDT.jpg" alt="">
                    </figure>
                    </a>
                </section>
                        <div class="descripcion"><p>ANTONIO BANDERAS HER SECRET DESIRE EDT</p></div>
                        <p class="precios">$6.770</p>
                </article>
            </section>
    </main>
    <script src="/javascripts/selection.js"></script>    
    <%- include ('../partials/footer') %>
</body>
</html>