<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/envio.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d48642b65b.js" crossorigin="anonymous"></script>
    <title>Sensoriale</title>
</head>
<body class="body">
    <header class="main-header">
        <div class="header-top">
            <div class="header-logo">
                <a href="/"><img src="../images/header-logo-celu.png" alt="Logo Sensoriale"></a>
            </div>
            <div class="header-search-bar">
                <input type="text" name="header-search-bar" placeholder="Buscar...">
                <a href="#"><i class="fas fa-search"></i></a>
            </div>
            <div class="header-checkout">
                <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <div class="header-login">
                <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
            </div>
        </div>
        <nav class="nav-bar">
            <div class="burger-icon"><i class="fa fa-bars burger"></i></div>
            <div class="burguer-menu">
                <ul>
                    <li><a href="/selection">Mujeres</a></li>
                    <li><a href="/selection">Hombres</a></li>
                    <li><a href="/selection">Unisex</a></li>
                    <li><a href="/selection">Outlet</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Registrarse</a></li>
                </ul>
            </div>
            <div class="nav-menu">
                <ul>
                    <li><a href="/selection">Mujeres</a></li>
                    <li><a href="/selection">Hombres</a></li>
                    <li><a href="/selection">Unisex</a></li>
                    <li><a href="/selection">Outlet</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="main-header-space"></div>
        <h3>Completa tus datos</h3>
        <section class="content">
            <form  action="Formulario de envio" action="/" method="POST">
                <label for="direccion">
                    <input type="text" name="direccion" placeholder="Direccion" required>
                </label>
                <label for="piso">
                    <input type="text" name="piso" placeholder="Piso/Departamento" required>
                </label>
                <label for="provincia">
                    <input type="text" name="provincia" placeholder="Provincia" required>
                </label>
                <label for="Codigo postal">
                    <input type="text" name="codigo postal" placeholder="Codigo postal" required>
                </label>
                <label for="nombre">
                    <input type="text" name="nombre" placeholder="Nombre" required>
                </label>
                <label for="apellido">
                    <input type="text" name="apellido" placeholder="Apellido" required>
                </label>
                <label for="dni">
                    <input type="text" name="DNI" placeholder="DNI" required>
                </label>
                <label for="Nro de telefono">
                    <input type="text" name="Nro de telefono" placeholder="Nro de telefono" required>
                </label> 
            </div>
            </form>
            <div class="producto">
            <article class="img-producto">imagen del producto</article>
        </div>
        </section>
        <section class="button">
        <a class="ingresar" href="/tarjeta-personalizada">Atras</a>
        <a class="ingresar" href="/payment">Pagar</a>
        </section>
    </main>    
    <footer class="main-footer">
        <section class="footer-section"><h4>Footer Izquierda</h4></section>    
        <section class="footer-section"><h4>Footer Centro</h4></section>    
        <section class="footer-section"><h4>Footer Derecha</h4></section>    
    </footer>
</body>
</html>