<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/maridaje.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d48642b65b.js" crossorigin="anonymous"></script>
    <title>Sensoriale</title>
</head>
<body class="body">
    <header class="main-header">
        <div class="header-top">
            <div class="header-logo">
                <a href="/"><img src="../images/header-logo-celu.png" alt="Logo Sensoriale"></a>
            </div>
            <div class="header-search-bar">
                <input type="text" name="header-search-bar" placeholder="Buscar...">
                <a href="#"><i class="fas fa-search"></i></a>
            </div>
            <div class="header-checkout">
                <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <div class="header-login">
                <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
            </div>
        </div>
        <nav class="nav-bar">
            <div class="burger-icon"><i class="fa fa-bars burger"></i></div>
            <div class="burguer-menu">
                <ul>
                    <li><a href="/selection">Mujeres</a></li>
                    <li><a href="/selection">Hombres</a></li>
                    <li><a href="/selection">Unisex</a></li>
                    <li><a href="/selection">Outlet</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Registrarse</a></li>
                </ul>
            </div>
            <div class="nav-menu">
                <ul>
                    <li><a href="/selection">Mujeres</a></li>
                    <li><a href="/selection">Hombres</a></li>
                    <li><a href="/selection">Unisex</a></li>
                    <li><a href="/selection">Outlet</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="articulo">
            <article class="producto">articulo</article>

        <h3>Opciones de maridaje</h3>
            <article class="maridaje">opcion maridaje 1</article>
            <article class="maridaje">opcion maridaje 2</article>
            <article class="maridaje">opcion maridaje 3</article>
            <article class="maridaje">opcion maridaje 4</article>
        </section>
    </main>    
    <footer class="main-footer">
        <section class="footer-section"><h4>Footer Izquierda</h4></section>    
        <section class="footer-section"><h4>Footer Centro</h4></section>    
        <section class="footer-section"><h4>Footer Derecha</h4></section>    
    </footer>
</body>
</html>