<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/tablet.css">
    <link rel="stylesheet" href="../css/notebook.css">
    <link rel="stylesheet" href="../css/payment.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d48642b65b.js" crossorigin="anonymous"></script>
    <title>Sensoriale</title>
</head>
<body class="body">
    <header class="main-header">
        <div class="header-top">
            <div class="header-logo">
                <a href="/"><img src="../images/header-logo-celu.png" alt="Logo Sensoriale"></a>
            </div>
            <div class="header-search-bar">
                <input type="text" name="header-search-bar" placeholder="  Buscar...">
                <a href="#"><i class="fas fa-search"></i></a>
            </div>
            <div class="header-checkout">
                <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <div class="header-login">
                <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
            </div>
        </div>
        <nav class="nav-bar">
            <div class="burger-icon"><i class="fa fa-bars burger"></i></div>
            <div class="burguer-menu">
                <ul>
                    <li><a href="/selection">Mujeres</a></li>
                    <li><a href="/selection">Hombres</a></li>
                    <li><a href="/selection">Unisex</a></li>
                    <li><a href="/selection">Outlet</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Registrarse</a></li>
                </ul>
            </div>
            <div class="nav-menu">
                <ul>
                    <li><a href="/selection">Mujeres</a></li>
                    <li><a href="/selection">Hombres</a></li>
                    <li><a href="/selection">Unisex</a></li>
                    <li><a href="/selection">Outlet</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="main">
        <div class="main-header-space"></div>
        <section class="main-payment">
            <section class="tc-data">
                    <div class="data-payment"><h4>Datos para el pago</h4></div>
                    <section class="content">
                    <form  action="Formulario de envio" action="/" method="POST">
                        <label for="Nro de la tarjeta">
                            <input type="text" name="Nro de la tarjeta" placeholder="Nro de la tarjeta" required>
                        </label>
                        <label for="Nombre del titular">
                            <input type="text" name="Nombre del titular" placeholder="Nombre del titular" required>
                        </label>
                        <label for="Fecha vencimiento">
                            <input type="text" name="Fecha vencimiento" placeholder="Fecha vencimiento" required>
                        </label>
                        <label for="Codigo de seguridad">
                            <input type="text" name="Codigo de seguridad" placeholder="Codigo de seguridad" required>
                        </label>
                    </form>
                </section>
            </div>
            </section>
            <section class="btn-total-cancel">
                <div class="space-total-cancel"></div>
                <div class="btn-total"><h4>botón total</h4></div>
                <div class="btn-cancel"><h4>botón cancelar</h4></div>
            </section>
            <section class="btn-payment">
                    <div class="btn-pay"><h4>Pagar</h4></div>
            </section>
        </section>
    </main>    
    <footer class="main-footer">
        <section class="footer-section"><h4>Footer Izquierda</h4></section>    
        <section class="footer-section"><h4>Footer Centro</h4></section>    
        <section class="footer-section"><h4>Footer Derecha</h4></section>    
    </footer>
</body>
</html>