<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/tarjeta-personalizada.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d48642b65b.js" crossorigin="anonymous"></script>
    <title>Sensoriale</title>
</head>
<body class="body">
    <header class="main-header">
        <div class="header-top">
            <div class="header-logo">
                <a href="/"><img src="../images/header-logo-celu.png" alt="Logo Sensoriale"></a>
            </div>
            <div class="header-search-bar">
                <input type="text" name="header-search-bar" placeholder="  Buscar...">
                <a href="#"><i class="fas fa-search"></i></a>
            </div>
            <div class="header-checkout">
                <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
            </div>
            <div class="header-login">
                <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
            </div>
        </div>
        <nav class="nav-bar">
            <div class="burger-icon"><i class="fa fa-bars burger"></i></div>
            <div class="burguer-menu">
                <ul>
                    <li><a href="/selection">Mujeres</a></li>
                    <li><a href="/selection">Hombres</a></li>
                    <li><a href="/selection">Unisex</a></li>
                    <li><a href="/selection">Outlet</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Registrarse</a></li>
                </ul>
            </div>
            <div class="nav-menu">
                <ul>
                    <li><a href="/selection">Mujeres</a></li>
                    <li><a href="/selection">Hombres</a></li>
                    <li><a href="/selection">Unisex</a></li>
                    <li><a href="/selection">Outlet</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <section class="articulo">
            <article class="producto">articulo</article>
        </section>
        <h3>Personalizá tu tarjeta</h3>
        <h3 class="letra">Letra:</h3>
        <section>
            <label class="tipografia" for="Tipografia">
                <input class="input" type="text" name="Tipografia" placeholder="Tipografia" required>
            </label>
            <div class="letra1">
            <label class="negrita" for="Tipografia">
                <input type="checkbox" name="Tipografia" placeholder="" required>
                <span>Negrita</span>
            </label>
            <label class="" for="Tipografia">
                <input type="checkbox" name="Tipografia" placeholder="" required>
                <span>Italica</span>
            </label>
            </div>
            <label class="para" for="email">Para:</label>
            <label class="tipografia" for="Tipografia">
                <input class="input" for="text" name="para" placeholder="Nombre y apellido" required>
            </label>    
            <label class="mensaje" for="email">Mensaje:</label>
            <input class="texto" for="text" name="para" placeholder="" required>
            <label class="para" for="email">Firma de:</label>
            <label class="tipografia" for="Tipografia">
                <input class="input" for="text" name="para" placeholder="Nombre y apellido" required>
            </label> 
            <div class="a">
                <a class="agregar" href="/checkout">Vincular con otras compras</a>
                <a class="agregar" href="/envio">Omitir</a>
                <a class="agregar" href="/envio">Agregar</a>
            </div> 
        </section>
    </main>    
    <footer class="main-footer">
        <section class="footer-section"><h4>Footer Izquierda</h4></section>    
        <section class="footer-section"><h4>Footer Centro</h4></section>    
        <section class="footer-section"><h4>Footer Derecha</h4></section>    
    </footer>
</body>
</html>