*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

main{
    width: 100%;
}
.main-header-space{     /*=== espacio generado porque el header es fixed === */
    width: 100%;
    height: 100px;
}

.articles-checkout{         /*=== main del carrito, 100% ancho, 400px de altura === */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
       /* height: 400px;*/
}
.checkout-bar{              /*=== no se muestra la barra de títulos en celulares === */
    display: none;
}
.art-list-ck{               /*=== contenedor de lista de artículos === */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /* height: 75%; */
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-bottom: solid 1px #f0e8ec;
    margin: 33px 10px;
}
.article-ck{                /*=== artículos dentro del listado === */
    /* display: flex; */
    width: 30%;
    /* height: 30%; */
    /* background-color: #e7e7de; */
    /* justify-content: center; */
    /* align-items: center;*/
}

figure{
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

img{
    width: 100px;
}

.articles-checkout-2{
    width: 60%;
    /*display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: start;*/
}


.button-a{
    border-radius: 0.5rem;
    width: 0vw;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 7px;
    margin-right: 1vw;
    padding: 3vw;
    border: none;
}

.button-b{
    border-radius: 0.5rem;
    width: 0vw;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 7px;
    margin-left: 1vw;
    padding: 3vw;
    border: none;
}

.descripcion{
    width: 100%;
}

.cantidad{
    display: flex;
    margin-top: 1vh;
}

.fas{
    border:solid 1px     lavender;
}

.btns-ck{                   /*=== botones sobre totales y link de realización del pago === */
    display: flex;
    width: 100%;
    height: 25%;
    background-color:#008891;
    justify-content: center;
    align-items: center;
}
.btns-ck h4 a{              /*=== link a la página de pago === */
    text-decoration: none;
}

.button-eliminar{
    display: flex;
    justify-content: flex-end;
}

.eliminar{
    border: none;
    padding: 4px;
    border-radius: 0.5rem;
}


.subtotal-precio{
    width: 80%;
    text-align: end;
    margin: auto;
    margin-bottom: 2vh;
}

.subtotal {
    color: #008891;
    font-weight: 700;
    font-size: 24px;
}

.precio {
    font-weight: 700;
    color: black;
    font-size: 24px;
}

@media (min-width: 361px){
    
    /*=======================================*/
                    /* TABLET */
    /*=======================================*/

    /*.articles-checkout{
        height: 700px;
    }*/
    .checkout-bar{
        display: block;
        display: flex;
        margin-top: 2vw;
        width: 100%;
        /* height: 10%; */
        /* background-color: #e7e7de; */
        justify-content: center;
        align-items: center;
    }

    .articles-checkout-2{
        width: 60%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
    }

    .art-list-ck{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 10vw;
    }

    .cantidad {
        display: flex;
        align-items: center;
    }

    .button-eliminar {
    display: flex;
    margin-left: 2vw;
    justify-content: flex-end;
    align-self: center;
    }
    
    .button-a {
        border-radius: 0.5rem;
        width: 0vw;
        justify-content: center;
        display: flex;
        align-items: center;
        height: 0vh;
        margin-right: 1vw;
        padding: 15px;
        border: none;
    }

    .button-b {
        border-radius: 0.5rem;
        width: 0vw;
        justify-content: center;
        display: flex;
        align-items: center;
        height: 0vh;
        margin-right: 1vw;
        padding: 15px;
        border: none;
    }

    .btns-ck{
        height: 7vh;
    }

}    

@media (min-width: 768px){
    .art-list-ck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 25vw;
    }

    .article-ck {
        margin-right: 2vw;
        width: 150px;
    }

    figure {
        width: 150px;
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    img {
        width: 100px;
    }

    .articles-checkout-2 {
        width: 60%;
        display: flex;
        /* flex-direction: column; */
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: center;
        /* align-items: start; */
    }

    

    .cantidad {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 1vh;
        align-items: center;
    }

    .button-a {
        border-radius: 0.5rem;
        width: 0vw;
        justify-content: center;
        display: flex;
        align-items: center;
        height: 0vh;
        margin-right: 1vw;
        padding: 15px;
        border: none;
    }

    .button-b {
        border-radius: 0.5rem;
        width: 0vw;
        justify-content: center;
        display: flex;
        align-items: center;
        height: 7px;
        margin-left: 1vw;
        padding: 15px;
        border: none;
    }
} 