*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/*=======================================*/
                /* MAIN */
/*=======================================*/

.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.main-header-space{     /*=== espacio generado porque el header es fixed === */
    width: 100%;
    height: 100px;
}
.selected-article{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 550px;
}
.article-pic-detail{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
}
.article-pic-detail article{
    display: flex;
    width: 100%;
    height: 50%;
    padding: 10px;
    justify-content: center;
}
.article-pic-detail article div{
    display: flex;
    background-color: #0f3057;
    width: 100%;
    max-width: 250px;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #e7e7de
}
.btns-detail{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
}
.btns-detail div{
    display: flex;
    width: 80%;
    height: 35px;
    justify-content: center;
    align-items: center;
}
.btns-detail div a{
    width: 100%;
    height: 100%;
}
.btns-detail div label{
    display: flex;
    width:30%;
    height: 100%;
    justify-content: left;
    align-items: center;
    color: #0f3057;
    text-align: center;
    font-weight: bolder;
}
.btns-detail div select{
    width: 70%;
    height: 90%;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    padding-left: 10px;
} 
.btns-detail div a button{
    width: 100%;
    height: 90%;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    padding-left: 10px;
}
.price h4{
    display: flex;
    width:30%;
    height: 100%;
    justify-content: left;
    align-items: center;
    color: #0f3057;
    text-align: left;
}
#btn-price, #btn-totalprice{
    display: flex;
    width:70%;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    color: #0f3057;
}
#btn-price h4, #btn-totalprice h4{
    justify-content: center;
}
.btns-detail div a button{
    padding-left: 0px;
    background-color: #008891;
}
#btn-payment{
    border-radius: 0.5rem;
    border: solid 1px #008891;
    background-color: #e7e7de;
}
#btn-payment:hover, #btn-checkout:hover{
    background-color: #0f3057;
    font-weight: bolder;
    color: #e7e7de;
    cursor: pointer;
}


@media (min-width: 515px){
    
    /*=======================================*/
                    /* TABLET */
    /*=======================================*/
    .selected-article{
        align-items: flex-end;
        max-width: 800px;
        height: 450px;
    }
    .article-pic-detail{
        height: 100%;
        width: 50%;
        justify-content: right;
    }
    .btns-detail{
        height: 60%;
        width: 50%;
        align-items: center;
        margin-bottom: 80px;
    }
    .btns-detail div{
        width: 90%;
    }
}