/*=======================================*/
               /* FOOTER */
/*=======================================*/

.main-footer{           /*=== sección footer === */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #e7e7de;
    justify-content: space-around;
    align-content: space-evenly;
}
.footer-section{        /*=== hay 3 secciones footer que reciben esta clase === */
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #00587a;
    justify-content: center;
    align-items: center;
}

/*=======================================*/
               /* FOOTER */
/*=======================================*/
@media (min-width: 361px){
.footer-section{             /*=== footer contenedor ===*/
    width: 33%;
    height: 150px;
}
}