/*=======================================*/
               /* FOOTER */
/*=======================================*/

.main-footer{           /*=== sección footer === */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.footer-section{        /*=== hay 3 secciones footer que reciben esta clase === */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 150px;
    background-color: white;
    border-top: solid 1px #00587a;


}

    /*=======================================*/
        /* FOOTER REDES (ABAJO y (derecha))  */
    /*=======================================*/

.footer-redes h2{                     /*=== título "nuestras redes sociales" === */
    font-size: 5vw;
    color: #008891;
    width: 100%;
    text-align: center;
    padding: 2vw;
}
.footer-redes{                  /*=== div para el footer de redes sociales === */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
}
.footer-redes a{                /*=== "a" div para el footer de redes sociales === */
    margin: 2vw 3vw;
    color: #00587a;
}
.footer-redes a i{              /*=== "i" "a" div para el footer de redes sociales === */
    font-size: 6vw;
}
.footer-redes a i:hover{        /*=== hover al "i" "a" div para el footer de redes sociales === */
    font-size: 6.5vw;
    color: #0f3057;
}

    /*=======================================*/
    /*      FOOTER SUSCRIBIRSE (CENTRO)      */
    /*=======================================*/

    .footer-newsletter{                  /*=== div para el footer de newsletter === */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        height: 80%;
    }
    .footer-newsletter h2{                     /*=== título "@ newsletter" === */
        font-size: 5vw;
        color: #008891;
        width: 100%;
        text-align: center;
        padding: 2vw;
    }
    .footer-newsletter h4{
        font-size: 70%;
        padding: 5px;
        color: #0f3057;
    }
    .footer-newsletter form{
        width: 100%;
        text-align: center;
    }
    .footer-newsletter form input{
        width: 60%;
        border: solid 1px #00587a;
        border-radius: 5px;
        height: 60%;
        margin: 10px 0px;
        padding: 5px;
    }
    .footer-newsletter form button{
        width: 20%;
        border: solid 1px #00587a;
        border-radius: 5px;
        height: 60%;
        margin: 10px 0px;
        background-color: #e7e7de;
    }

    .footer-newsletter form button:hover{
        background-color: #00587a;
        color: #e7e7de;
        font-weight: bolder;
        padding: 5px;

    }
/*=======================================*/
               /* FOOTER */
/*=======================================*/

@media (min-width: 361px){
    .footer-section{             /*=== footer contenedor ===*/
        width: 33%;
        height: 150px;
        border-top: none;
    }

    /*=======================================*/
        /* FOOTER REDES (DERECHA y (abajo))  */
    /*=======================================*/

    .footer-redes h2{                          /*=== título "nuestras redes sociales" === */
        font-size: 2vw;
    }
    .footer-redes{              /*=== div para el footer de redes sociales === */
        border-top: none;
    }
    .footer-redes a{            /*=== "a" div para el footer de redes sociales === */
        margin: 0vw 1vw;
        color: #00587a;
    }
    .footer-redes a i{          /*=== "i" "a" div para el footer de redes sociales === */
        font-size: 2vw;
        padding: 0.5vw;

    }
    .footer-redes a i:hover{    /*=== hover "i" "a" div para el footer de redes sociales === */
        font-size: 2vw;
        padding: 0.5vw;
        color: #0f3057;
        background-color: #e7e7de;
        border-radius: 10px;
    }

    /*=======================================*/
    /*      FOOTER SUSCRIBIRSE (CENTRO)      */
    /*=======================================*/

    .footer-newsletter h4{
        font-size: 1.3vw;
    }
    .footer-newsletter h2{                     /*=== título "@ newsletter" === */
        font-size: 2.5vw;
        padding: 1vw;
    }
}