*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    flex-wrap: wrap;
    font-family: 'Comfortaa', cursive;
}

/*=======================================*/
              /* HEADER */
/*=======================================*/



.main-header{           /*=== contenedor del header ===*/
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70px;
    position: fixed;
    background-color:  #e7e7de;

}
.header-top{            /*=== logo, barra de búsqueda. register y login van en el burguer-menu === */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 60%; 
}
.header-logo{           /*=== contenedor del logo ===*/
    display: flex;
    width: 12%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color:  #e7e7de;
}
.header-logo img{       /*=== img del logo ===*/
    display: flex;
    width: 100%;
    background-color:  #e7e7de;

}
.header-search-bar{      /*=== barra de búsqueda ===*/
    display: flex;
    width:73%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color:  #e7e7de;
}
.header-search-bar input{   /*=== input de la barra de búsqueda - tipo texto ===*/
    border: none;
    height: 20px;
    padding-left: 2px;
    width: 90%;
    margin-left: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.header-search-bar a{       /*=== lupa de la barra de búsqueda ===*/
    background-color: white;
    color: #0f3057;
    height: 20px;
    width: 10%;
    padding-top: 3px;
    padding-right: 3px;
    margin-right: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.header-checkout{           /*=== contenedor de carrito de compras ===*/
    display: flex;
    width: 15%;
    height: 100%;    
    justify-content: center;
    align-items: center;
}
.header-checkout a{         /*=== carrito de compras logo bajado de font-awesome ===*/
    display: flex;
    width: 90%;
    justify-content: center;
    padding-right: 5px;
    color: #0f3057;
    font-size: 5vw;
}
.header-login{              
    display: none;          /*=== contenedor logo de login ===*/
}
.nav-bar{                   /*=== contenedor para burguer-menu y nav-menu: dependiendo del tamaño de pantalla === */
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #e7e7de;
    flex-direction: column;
    align-items: center;
}
.burger-icon{               /*=== icono hamburguesa, al clickear se debe despegar el menú, solo disponible en celulares === */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6%;
    height: 70%;
    margin: 5px 0px;
    padding: 3px;
    font-size: 4vw;
    color: #e7e7de;
    background-color: #00587a;
    border-radius: 2px;
}
.burguer-menu{              /*=== div que corresponde al despliegue del menu de la hamburguesa === */
    display: none; 
}
.burger-icon:hover + .burguer-menu{ /*=== al picar sobre la hamburguesa se debe desplegar el menú === */
    display: block;
}
.burguer-menu:hover{        /*=== el menú queda bloqueado a la espera de un toque === */
    display: block;
}
.burguer-menu ul{           /*=== UL lista de menú === */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 6px;
}
.burguer-menu ul li{        /*=== LI lista de menú === */
    display: flex;
    background-color: #00587a;
    font-weight: bolder;
    font-style: none;
    padding: 3px 20px;
    margin: 2px 0px;
    border-radius: 3px;
}
.burguer-menu ul li:hover{  /*=== LI lista de menú / cambia color al picar sobre una opción === */
    background-color: #008891;  
}
.burguer-menu ul li a{      /*=== "a" LI lista de menú === */
    text-decoration: none;
    color: #e7e7de;

}
.nav-menu{              /*=== barra que aparece en el menú de tablets y notebooks === */
    display: none;
}

/*=======================================*/
                /* MAIN */
/*=======================================*/

.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.main-header-space{     /*=== espacio generado porque el header es fixed === */
    width: 100%;
    height: 70px;
}
.banner{                /*=== banner no se ve para celulares === */
    display: none;
}
.articules-section{     /*=== sección para todos los artículos === */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #008891;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 7px 0px;
}
.articule{              /*=== hay 6 artículos que reciben esta clase === */
    display: flex;
    width: 90%;
    height: 120px;
    background-color: #e7e7de;
    justify-content: center;
    align-items: center;
    margin: 7px 0px;
}

/*=======================================*/
               /* FOOTER */
/*=======================================*/

.main-footer{           /*=== sección footer === */
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #e7e7de;
    justify-content: space-around;
    align-content: space-evenly;
}
.footer-section{        /*=== hay 3 secciones footer que reciben esta clase === */
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #00587a;
    justify-content: center;
    align-items: center;
}