*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/*=======================================*/
                /* MAIN */
/*=======================================*/

.main{
    width: 100%;
    height: 500px;
}
.main-header-space{     /*=== espacio generado porque el header es fixed === */
    width: 100%;
    height: 100px;
}
.main-login{
    display: flex;
    width: 100%;
    height: 400px;
    flex-wrap: wrap;
}
.main-login p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 8vw;
    font-weight: bolder;
    color: #00587a;
    height: 20%;
}
.main-login .section-login{
    display: flex;
    height: 80%;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;

}
.main-login .section-login form{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
}
.text-alert{
    height: 20px;

}
.text-alert p{
    font-size: 3vw;
    color: tomato;
    height: 100%;
}

.input-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20vh;
    margin: 7px 0px;
    margin-top: 3px;

}

.main-login .section-login form div input{
    width: 70%;
    max-width: 500px;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    padding-left: 10px;
    color: #00587a;
}
.main-login .section-login form div #btn-enter{
    width: 70%;
    max-width: 500px;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    background-color: #008891;
    color: #e7e7de;
} 

.main-login .section-login form div #btn-enter:hover{
    background-color: #00587a;
    color: #e7e7de;
    font-weight: bolder;
    padding: 5px;
    cursor: pointer;

}
#checkbox-rememberme{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}
#checkbox-centrado{
    display: flex;
    width: 300px;
    max-width: 500px;
}
#inp-chkx{
    display: flex;
    width: 25%;
    justify-content: flex-end;
    align-items: center;    
}
#inp-chkx input{
    width: 20%;
}

#lab-chkx{
    display: flex;
    width: 75%;
    margin-left: 5px;
    justify-content: left;
    align-items: center;
    color: #00587a;
}

.create-acount{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0px;
    margin-bottom: 15px;
}
.create-acount a{
    text-decoration: none;
    color: #008891;
}
.create-acount a:hover{
    color: #00587a;
    font-weight: bolder;
    cursor: pointer;
}
#forgot-password{
    margin-bottom: 10px;
}

@media (min-width: 515px){
    
    /*=======================================*/
                    /* TABLET */
    /*=======================================*/

    .main{
        height: 430px;
    }
    .main-login{
        height: 330px;
    }
    .main-login p{
        font-size: 4vw;
        height: 55px;
    }
    .section-login{
        height: 275px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-login .section-login form{
    height: 70%;
    }
    .text-alert{
        height: 20px;
    }
    .text-alert p{
        font-size: 2vw;
        height: 100%;
    }
    #forgot-password{
        margin-bottom: 0px;
    }
}

@media (min-width: 769px){
    
    /*=======================================*/
                   /* NOTEBOOK */
    /*=======================================*/

    .main-login p{
        font-size: 2vw;
    }
    .text-alert p{
        font-size: 1vw;
    }
    .create-acount{
        margin-bottom: 0px;
        margin-top: 15px;
    }

}