*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    font-family: 'Comfortaa', cursive;
}

main{
    background-color: #00587a;
}

.content {
    margin-top: 10vh;
    margin-bottom: 0.1vh;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }
  
  .content form {
    background-color: rgb(228, 228, 228);
    padding: 1rem;
    border-radius: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .content form label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content form label input {
    flex: 1 0 auto;
    border: none;
    outline: none;
    padding: 1rem;
    color: #000;
    border-radius: 2rem;
  }
  
  .content form label input::placeholder {
    opacity: 1;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

a{
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
    margin-bottom: 1%;
}

.ingresar{
    background-color: rgb(228, 228, 228) ;
    border: none;
    align-self: flex-end;
    margin-top: 5%;
    font-family: 'Comfortaa', cursive;
    }

@media (min-width: 361px){
    .formulario{
        justify-self: center;
    }
    .formularioLogin{
    margin-top: 5px;    
    margin-bottom: 5px;
    padding: 20px;
    }
}

@media (min-width: 768px){
    .formulario{
        margin-left: 45%; 
    }
}