*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.body{
    font-family: 'Comfortaa', cursive;
}

main{
        background-color: #00587a;
}

.articulo{
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 10px;
}
.producto{
    width: 100%;
    height: 120px;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.descripcion-maridaje{
    display: none;
}

h3{
    color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
}

.opciones-maridaje{     
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px 10px;
}

.maridaje{
    width: 100%;
    height: 120px;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
} 
@media(min-width: 515px){

    .articulo{
        max-width: 70vw;
        display: flex;
        height: 30vh;
        margin-left: 15vw;
        background-color: unset;
        margin-bottom: 1rem;
   }
   .producto{
       height: 100%;
       margin-right: 25%;
   }

   .descripcion-maridaje{
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;  
    width: 40%;
    height: 25vh;
    flex-wrap: wrap;
   }
   h3{
       display: flex;
   }

   .opciones-maridaje{
    height: 70vh;
    background-color: revert;
    justify-content: space-between;
    align-items: center;
   }

   .maridaje{
    width: 45%;
    height: 30vh;
    flex-wrap: wrap;
    background-color: rgb(228, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
   }
}

@media(min-width: 768px){
    .articulo {
        width: 100vw;
        display: inline-block;
        height: 40vh;
        background-color: unset;
        margin-bottom: 1rem;
    }
}