@media (min-width: 769px){
   
    
    /*=======================================*/
                    /* HEADER */
    /*=======================================*/

    /*.header-logo{               /*=== contenedor del logo ===*/
        /*width: 6%;
    }*/

    .header-logo img {
        height: 80%;
        padding: 5px 0px;
        margin: auto;
        width: 10vw;
    }

    .header-search-bar{         /*=== barra de búsqueda ===*/
        margin-left: 90px;
        margin-right: 10vw;
        width: 50%;
    }
    /*.header-search-bar input {
    }*/
    .header-search-bar a{       /*=== lupa de la barra de búsqueda ===*/
        width: 7%;
    }
    .header-checkout{           /*=== carrito de compras / contenedor ===*/
        margin-right: 0px;
    } 
    .header-login{              /*=== login / contenedor ===*/
        margin-left: 20px;
    }
    .header-checkout a, .header-login a{         /*=== carrito de compras logo bajado de font-awesome ===*/
        font-size: 2vw;
    }

   /*=======================================*/
                     /* MAIN */
    /*=======================================*/

    .articule{                          /*=== articulos / 3 por ancho de pantalla ===*/
        width: 32%;
        height: 48%;
    }
}