*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.main-header-space{     /*=== espacio generado porque el header es fixed === */
    width: 100%;
    height: 100px;
}

.main-payment{              /*=== main del pago, 100% ancho, 600px de altura === */
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: 450px;
    justify-content: center;
}
.main-payment h3{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #008891;
}
.main-payment form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    justify-content: center;
}
.main-payment form input{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 35px;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    justify-content: center;
    margin: 5px 0px;
    padding-left: 10px;
}
.btn-price-payment{
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    width: 100%;
    justify-content: center ;
}
.btn-price-payment div{
    display: flex;
    width: 80%;
    height: 35px;
    justify-content: center;
}
.price h4{
    display: flex;
    width: 30%;
    justify-items: center;
    align-items: center;
}
.price div{
    display: flex;
    width: 70%;
    justify-content: center;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    align-items: center;
}
.price div h4{
    display: flex;
    justify-content: center;
}
.btn-checkout a{
    width: 100%;
    justify-content: center;
}
.btn-checkout a button{
    width: 100%;
    justify-content: center;
    height: 100%;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    background-color: #008891;
    color: #e7e7de;
}
.btn-payment-cancel a{
    width: 100%;
    justify-content: center;
}
.btn-payment-cancel a button{
    width: 100%;
    justify-content: center;
    height: 100%;
    border: solid 1px #008891;
    border-radius: 0.5rem;
}

#btn-payment-ok:hover{
    background-color: #0f3057;
    font-weight: bolder;
    color: #e7e7de;
    cursor: pointer;
}
#btn-payment-cancel:hover{
    background-color: tomato;
    font-weight: bolder;
    color: #e7e7de;
    cursor: pointer;
}

@media (min-width: 515px){
    
    /*=======================================*/
                    /* TABLET */
    /*=======================================*/
    .main-payment{
        max-width: 600px;
    }
}