*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/*=======================================*/
                /* MAIN */
/*=======================================*/

.main{
    width: 100%;
    height: 700px;
}
.main-header-space{     /*=== espacio generado porque el header es fixed === */
    width: 100%;
    height: 100px;
}
.main-register{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 500px;
}
.main-register p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    font-size: 8vw;
    font-weight: bolder;
    color: #00587a;
}
.main-register .section-register{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;

}
.main-register .section-register form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.input-container{
    display: flex;
    justify-content: center;
    width: 35%;
    min-width: 250px;
    height: 35px;
    position: relative;
}
.main-register .section-register form div input{
    width: 100%;
    max-width: 500px;
    border-radius: 0.5rem;
    padding-left: 10px;
    outline: none;
}
.text-alert{
    height: 20px;

}
.text-alert p{
    font-size: 3vw;
    color: tomato;
    height: 100%;
}
#btn-enter, #btn-erase{
    width: 100%;
    max-width: 500px;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    background-color: #e7e7de;
    color: #00587a;
} 
#btn-enter:hover, #btn-erase:hover{
    background-color: #00587a;
    color: #e7e7de;
    font-weight: bolder;
    padding: 5px;
    cursor: pointer;

}
.input-container-btn{
    display: flex;
    justify-content: center;
    width: 35%;
    min-width: 250px;
    height: 35px;
    position: relative;
    margin: 7px 0px;
    margin-top: 3px;
    height: 35px;
}
#btn-enter{
    background-color: #008891;
    color: #e7e7de;    
}
.to-login{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0px;
    margin-top: 10px;
}
.to-login a{
    text-decoration: none;
    color: #008891;
}
.to-login a:hover{
    color: #00587a;
    font-weight: bolder;
    cursor: pointer;
    
}


    /*=======================================*/
        /* ESTADOS PARA CONTROLES JS */   /*      border: solid 1px #008891;
    /*=======================================*/

    .borderNormal {
        border: solid 1px #008891;
    }
    .borderError {
        border: solid 3px rgb(255, 99,71);
    }
    .borderOk {
        border: solid 3px rgb(42, 219, 42);
    }
    .iconoErrorOrOkNone{
        position: absolute;
        right: 10px;
        top: 10px;
        opacity: 0;
    }
    #formRegister p {
        font-size: 3vw;
        color: rgb(255, 99,71);
        height: 10px;
        margin: 0;
        padding:0;
        margin-top: 5px;
        opacity: 0;
    }

@media (min-width: 515px){
    
    /*=======================================*/
                    /* TABLET */
    /*=======================================*/

    .main-register p{
        font-size: 4vw;
    }
    .text-alert p{
        font-size: 2vw;
    }
    #formRegister p {
        font-size: 2vw;
    }
}

@media (min-width: 769px){
    
    /*=======================================*/
                   /* NOTEBOOK */
    /*=======================================*/

    .main-register p{
        font-size: 3vw;
    }
    .text-alert p{
        font-size: 1vw;
    }
    #formRegister p {
        font-size: 1vw;
    }
}



