*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: 'Comfortaa', cursive;
}

main{
    background-color: #00587a;
}

.content {
    margin-top: 10vh;
    margin-bottom: 0.1vh;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
  }
  
  .content form {
    background-color: rgb(228, 228, 228);
    padding: 1rem;
    border-radius: 0.25rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85vw;
  }
  
  .content form label {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content form label input {
    flex: 1 0 auto;
    border: none;
    outline: none;
    padding: 1rem;
    background-color: ;
    color: #000;
    border-radius: 2rem;
  }
  
  .content form label input::placeholder {
    opacity: 1;
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  
/* Content Tablet */
@media (min-width: 768px) {
    .content form {
      justify-content: space-around;
    }
    .content form label {
      width: 45%;
    }
  }

  .button {
    align-self: flex-end;
    margin-top: 5%;
}
  
  /* Content Desktop */
  @media (min-width: 1024px) {
    .content form {
      width: 40vw;
      flex-direction: column;
      justify-content: space-between;
    }
    .content form label {
      width: 100%;
    }

@media (min-width: 769px) {
    .seccionRegistro {
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .formularioDeRegistro {
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 20px;
        text-align: center;
        flex-wrap: wrap;
    }
    /*.input {
        width: 95%;
    }*/
}


