*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/*=======================================*/
                /* MAIN */
/*=======================================*/

.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.main-header-space{     /*=== espacio generado porque el header es fixed === */
    width: 100%;
    height: 100px;
}

.articles-selection{     /*=== main sin header fijo y banner === */
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*=======================================*/
                /* INPUTS */
/*=======================================*/


.articles-inputs{        /*=== sección para búsqueda de artículos === */
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
}
.articles-inputs h4{
    display: flex;
    color: #008891;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-top: 10px;
}
.articles-inputs form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: center;
}
.articles-inputs form div{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 35px;
    align-items: center;
    justify-content: center;
}
.articles-inputs form div select, .articles-inputs form div input, .articles-inputs form div button{
    width: 80%;
    max-width: 300px;
    height: 35px;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    padding-left: 10px;
}
#btn-erase{
    background-color: #008891;
    color: #e7e7de;
}
#btn-erase:hover{
    background-color: #00587a;
    color: #e7e7de;
    font-weight: bolder;
    cursor: pointer;

}

/*=======================================*/
              /* ARTÍCULOS */
/*=======================================*/
.articles-section{     /*=== sección para todos los artículos === */
    display: flex;
    flex-wrap: wrap;
    }

.article-a, .article-b{              /*=== hay 6 artículos que reciben esta clase === */
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-right: 10px;
    border-bottom: solid 1px #e7e7de;
}


.img {
    height: 10vh;
}

p{
    color: #000;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    text-align: center;
    padding: 5px;    
}

.precios-descripcion{
    width: 100%;
}

.precios{
    display: flex;
    align-items: flex-end;
    color: #00587a;
}

.descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
}

.articles-section .article-a a{
    text-decoration: none;
}        
.articles-section .article-b a{
    text-decoration: none;
} 

@media (min-width: 361px){
    
    /*=======================================*/
                    /* TABLET */
    /*=======================================*/

    .articles-selection{     /*=== contenedor main sin header fijo y banner === */
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .articules-section{     /*=== sección para todos los artículos === */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        background-color: white;
        justify-content: space-evenly;
        align-content: space-evenly;
        margin-bottom: 20px;
    }

    .articles-inputs{        /*=== contenedor sección para búsqueda de artículos === */
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 350px;
    }
    .articles-inputs div{   /*=== contenido de inputs  === */
        display: flex;
        width: 90%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    

    
    .article-a{              /*=== hay 6 artículos que reciben esta clase === */
        display: flex;
        flex-wrap: wrap;
        width: 45vw;
        justify-content: center;
        margin: 0.5vh 0;
        border: solid 2px #008891;
        border-radius: 0.5rem;
    }
    .article-b{             /*=== hay 3 artículos que no se muestran en tablet === */
        display: none;
    }

    .precios {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 2vh;
    }
    
    .descripcion {
        display: flex;
        justify-content: center;
        margin-bottom: 2vh; 
    }    
   
    .image{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    }

    p{
        color: #000;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }

    .img{
        height: 190px;
        width: 150px;
    }
}

@media (min-width: 768px){
    
    /*=======================================*/
                   /* NOTEBOOK */
    /*=======================================*/


    .articules-section {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin-top: 5vh;
        background-color: white;
        justify-content: space-evenly;
        align-content: space-evenly;
        margin-bottom: 20px;
    }
    .articles-inputs h4{
        margin-top: 40px;
    }
    .articles-selection {
        display: flex;
        flex-wrap: wrap;
        /* margin-top: 5vh; */
        flex-direction: initial;
        width: 100%;
    }

    .articles-inputs {
        display: flex;
        flex-wrap: wrap;
        width: 30%;
        height: 350px;
    }

    .article-b{             /*=== hay 3 artículos que reciben esta clase === */
        display: block;
    }
    .article-a{ /*=== acomodamos los 9 artículos en pantalla === */
        display: flex;
        width: 30%;
        /* height: 30%; */
        /* background-color: #008891; */
        justify-content: center;
        align-items: center;
    }

    .article-b{              /*=== hay 6 artículos que reciben esta clase === */
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 30%; 
        justify-content: center;
        margin: 0.5vh 0;
        border: solid 2px #008891;
        border-radius: 0.5rem;
    }    

}