/*=======================================*/
        /* NAVEGACIÓN EN TABLETS */
/*=======================================*/

@media (min-width: 361px){
    

    /*=======================================*/
                     /* MAIN */
    /*=======================================*/


    .banner {
        display: block;
        width: 100%;
    }

    .articules-section{         /*=== sección para los artículos ===*/
        padding: 0px 0px;
    }
    .articule{                  /*=== artícos dentro de la sección ===*/
        width: 48%;
        justify-content: center;
        align-items: center;
    }

}