<%- include ('../partials/head') %>
<body class="body">
    <%- include ('../partials/header') %>
    <main class="main">
        <div class="main-header-space"></div>
        <section class="banner">
          <figure>
            <img class="banner" src="/images/imagen-banner-proyecto-integrador (2).jpg" alt="">
          </figure>
        </section>
        </div>
        <h3>productos destacados</h3>
        <section class="articules-section">
            <article class="articule">
                <img class="img" src="/images/hugo boss-1.jpg" alt="">
            <section class="precios-descripcion">
                <h4 class="precios">$6.770</h4>
                <p class="descripcion"><strong>Hugo Boss</strong></p>
            </section>
            </article>
            <article class="articule">
                <img class="img" src="/images/hugo-boss-2.jpg" alt="">
            <section class="precios-descripcion">
                <h4 class="precios">$6.770</h4>
                <p class="descripcion"><strong>Hugo Boss</strong></p>
            </section>
            </article>
            <article class="articule">
                <img class="img" src="/images/hugo-boss-3.jpg" alt="">
            <section class="precios-descripcion">
                <h4 class="precios">$6.770</h4>
                <p class="descripcion"><strong>Hugo Boss</strong></p>
            </section>
            </article>
            <article class="articule">
                <img class="img" src="/images/CH-1.jpg" alt="">
            <section class="precios-descripcion">
                <h4 class="precios">$6.770</h4>
                <p class="descripcion"><strong>Hugo Boss</strong></p>
            </section>
            </article>
            <article class="articule">
                <img class="img" src="/images/CH-2.jpg" alt="">
            <section class="precios-descripcion">
                <h4 class="precios">$6.770</h4>
                <p class="descripcion"><strong>Hugo Boss</strong></p>
            </section>
            </article>
            <article class="articule">
                <img class="img" src="/images/CH-3.jpg" alt="">
            <section class="precios-descripcion">
                <h4 class="precios">$6.770</h4>
                <p class="descripcion"><strong>Hugo Boss</strong></p>
            </section>
            </article>
        </section>
    </main>    
    <%- include ('../partials/footer') %>
    <script src="/javascripts/selection.js"></script>    
</body>
</html>