<%- include ('../partials/head') %>
<body class="body">
    <%- include ('../partials/headersale') %>
    <main>
        <div class="main-header-space"></div>
        <h3>opciones de maridaje</h3>
        <section class="opciones-maridaje">
            <article class="maridaje">opcion maridaje 1</article>
            <article class="maridaje">opcion maridaje 2</article>
            <article class="maridaje">opcion maridaje 3</article>
            <article class="maridaje">opcion maridaje 4</article>
        </section>
        <div class="a">
            <a class="agregar" href="/packaging">omitir</a>
            <a class="agregar" href="/packaging">agregar</a>
        </div>
    </main>    
    <%- include ('../partials/footer') %>
</body>
</html>