<%- include ('../partials/head') %>
<body class="body">
    <%- include ('../partials/headersale') %>
    <main>  
        <div class="main-header-space"></div>
        <h3>opciones de packaging</h3>
        <section class="opciones-packaging">
            <article class="packaging">opcion packaging 1</article>
            <article class="packaging">opcion packaging 2</article>
            <article class="packaging">opcion packaging 3</article>
            <article class="packaging">opcion packaging 4</article>
        </section>
        <div class="a">
            <a class="agregar" href="/message-card">omitir</a>
            <a class="agregar" href="/message-card">agregar</a>
        </div>
    </main>    
    <%- include ('../partials/footer') %>
</body>
</html>