<%- include ('../partials/head') %>
<body class="body">
    <%- include ('../partials/headersale') %>
    <main class="main">
        <div class="main-header-space"></div>
        <h3>completá tus datos</h3>
        <section class="content">
            <form  action="Formulario de envio" action="/" method="POST">
                <label for="direccion">
                    <input type="text" name="direccion" placeholder="Direccion" required>
                </label>
                <label for="piso">
                    <input type="text" name="piso" placeholder="Piso/Departamento" required>
                </label>
                <label for="provincia">
                    <input type="text" name="provincia" placeholder="Provincia" required>
                </label>
                <label for="Codigo postal">
                    <input type="text" name="codigo postal" placeholder="Codigo postal" required>
                </label>
                <label for="nombre">
                    <input type="text" name="nombre" placeholder="Nombre" required>
                </label>
                <label for="apellido">
                    <input type="text" name="apellido" placeholder="Apellido" required>
                </label>
                <label for="dni">
                    <input type="text" name="DNI" placeholder="DNI" required>
                </label>
                <label for="Nro de telefono">
                    <input type="text" name="Nro de telefono" placeholder="Nro de telefono" required>
                </label> 
            </div>
            </form>
            <div class="producto">
            <article class="img-producto">imagen del producto</article>
        </div>
        </section>
        <section class="button">
        <a class="ingresar" href="/mensaje">atrás</a>
        <a class="ingresar" href="/pago">pagar</a>
        </section>
    </main>    
    <%- include ('../partials/footer') %>
</body>
</html>