<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/404-page.css">
    <title>sensoriale - página no existe</title>
</head>
<body class="body">
    <main>  
        <div class="main-header-space"></div>
        <div class="image">
            <img src="../../images/header-logo-celu.png" alt="logo sensoriale">
        </div>
        <h1>página inexistente - te dejamos el link de la página inicial</h1>
        <div class="space">
            <a class="inicio" href="/">dame "click"</a>
        </div>
    </main>    
</body>