@media (min-width: 769px){
   
   /*=======================================*/
                     /* MAIN */
    /*=======================================*/

    .articule{
        width: 32%;
        height: 48%;
        justify-content: center;
        align-items: center;
        margin: 0px 0px;
    }
}