<header class="main-header">
    <div class="header-top">
        <div class="header-logo">
            <a href="/"><img src="../images/header-logo-celu.png" alt="Logo Sensoriale"></a>
        </div>
        <div class="header-search-bar">
            <input type="text" name="header-search-bar" placeholder="buscar...">
            <a href="#"><i class="fas fa-search"></i></a>
        </div>
        <div class="header-checkout">
            <a href="/checkout"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="header-login">
            <a href="/login"><i class="fas fa-sign-in-alt"></i></a>
        </div>
    </div>
    <nav class="nav-bar">
        <div class="burger-icon"><i class="fa fa-bars burger"></i></div>
        <div class="burguer-menu">
            <ul>
                <li><a href="/seleccion">mujeres</a></li>
                <li><a href="/seleccion">hombres</a></li>
                <li><a href="/seleccion">unisex</a></li>
                <li><a href="/seleccion">outlet</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/register">registrarse</a></li>
            </ul>
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="/seleccion">mujeres</a></li>
                <li><a href="/seleccion">hombres</a></li>
                <li><a href="/seleccion">unisex</a></li>
                <li><a href="/seleccion">outlet</a></li>
            </ul>
        </div>
    </nav>
</header>