<header class="main-header">
    <div class="header-top">
        <div class="header-logo">
            <a href="/"><img src="../images/header-logo-celu.png" alt="Logo Sensoriale"></a>
        </div>

    </div>
</header>