<header class="main-header">
    <div class="header-top">
        <div class="header-logo">
            <a href="/"><img src="../../images/header-logo-celu.png" alt="logo sensoriale" id="logoSRL"></a>
        </div>
        <div class="header-search-bar">
            <input type="text" name="header-search-bar" placeholder="buscar...">
            <a href="#"><i class="fas fa-search"></i></a>
        </div>
        <div class="header-checkout">
            <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
        </div>
        <div class="header-login">
            <% if (locals.userLogged) { %>
                <a href="/ingresar"><i class="fas fa-user"></i></a>
            <% } else { %>
                <a href="/perfil"><i class="fas fa-sign-in-alt"></i></a>
            <% } %>
        </div>
        <div class="header-login">
            <% if (locals.userType == 1) { %>
                <a href="/administrar"><i class="fas fa-users-cog"></i></a>
            <% } %>
        </div>        
    </div>
    <nav class="nav-bar">
        <div class="burger-icon"><i class="fa fa-bars burger"></i></div>
        <div class="burguer-menu">
            <ul>
                <li><a href="/seleccion/mujeres" id="mujeresB">mujeres</a></li>
                <li><a href="/seleccion/hombres" id="hombresB">hombres</a></li>
                <li><a href="/seleccion/unisex" id="unisexB">unisex</a></li>
                <li><a href="/seleccion/outlet" id="outletB">outlet</a></li>
                <li><a href="/ingresar">login</a></li>
                <li><a href="/registrarse">registrarse</a></li>
            </ul>
        </div>
        <div class="nav-menu">
            <ul>
                <a class="generos" id="mujeresNB" href="/seleccion/mujeres"><li>mujeres</li></a>
                <a class="generos" id="hombresNB" href="/seleccion/hombres"><li>hombres</li></a>
                <a class="generos" id="unisexNB" href="/seleccion/unisex"><li>unisex</li></a>
                <a class="generos" id="outletNB" href="/seleccion/outlet"><li>outlet</li></a>
            </ul>
        </div>
    </nav>
</header>