<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% for(let i = 0; i < styles.length; i++){ %>

        <!-- <link rel="stylesheet" href="../css/header.css"> -->

        <link rel="stylesheet" href="/css/<%= styles[i] %>.css">

    <% } %>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d48642b65b.js" crossorigin="anonymous"></script>
    <title>Sensoriale</title>
</head>