*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/*.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}*/
.main-header-space{     /*=== espacio generado porque el header es fixed === */
    width: 100%;
    height: 100px;
}

.h4{
    color: #0f3057;
    text-align: center;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.none{
    display: none;
}

.table{
    border: solid #008891 1px;
    border-radius: 0.5rem;
    width: 90vw;
    margin-left: 5vw
}


.articles-selection{
    width: 100%;
    display: flex;
    margin-bottom: 2vh;
}

tbody{
    text-align: center;
}

thead{
    text-align: center;
}

.btns-ck {
    margin-left: 5vw;
    display: flex;
    justify-content: flex-start;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.a {
    text-decoration: none;
    color: #00587a;
    margin-right: 3vw;

}

.a:hover{
    color: #0f3057;
}

#plus{
    margin-left: 1px;
    font-size: 15px;
    color: #008891;
}

#plus:hover{
    color: #0f3057;
}

th, td{
    font-size: 10px;
}


@media (min-width: 515px){
    .none{
        display: initial;
    }
    th, td{
        font-size: initial;
    }
}
