*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/*=======================================*/
                /* MAIN */
/*=======================================*/

.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.main-header-space{     /*=== espacio generado porque el header es fixed === */
    width: 100%;
    height: 100px;
}
.main-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    align-items: center;
}
.main-section form{
    width: 100%;
    height: 100%;
    justify-content: center;
}

/* ======= CONTENEDORES PADRES - SON 3 ======== */

.container-mark{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 80%;
    max-width: 300px;
    height: 40%;
    justify-content: center;
    margin: auto;
}
.imginput{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45%;
}
.btns{
    display: flex;
    flex-direction: column;
    height: 15%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
/* ======= FIN - CONTENEDORES PADRES - SON 3 ======== */

.imginput img{
    display: flex;
    width: 30%;
}
.imginput input{
    display: flex;
    width: 80%;

}

.mark{
    display: flex;
    width: 70%;
    height: 35px;
    margin: 7px 0px;
    margin-top: 3px;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

.input{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: solid white
}
.custom-file{
    display: flex;
    width: 50%;
}

.a-btn{
    display: flex;    
    width: 100%;
    height: 35px;
    margin: 7px;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    background-color: #008891;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    max-width: 330px;
    margin: auto;
}
.a-btn button{
    background-color: #008891;
    color: white;
    font-weight: bolder;
    border: none;
}
.a-btn a{
    text-decoration: none;
    color: white;
    font-size: bolder;
}

.a-btn:hover{
    cursor: pointer;
    background-color: #00587a;
}
.a-btn:hover button{
    background-color: #00587a;

}
.a-btn button:hover{
    cursor: pointer;
}

@media (min-width: 361px){
    .imginput input{
        width: 50%;
    }
}

@media (min-width: 768px){

    .main-section{
        height: 500px;
    }
    .main-section form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* ======= CONTENEDORES PADRES - SON 3 ======== */
    .container-mark{
        width: 50%;
        height: 80%;
        justify-content: center;
        margin: auto;
    }
    .imginput{
        justify-content: center;
        width: 50%;
        height: 80%;
    }
    .btns{
        flex-direction: row;
        height: 20%;
        width: 80%;
    }
    /* ======= FIN - CONTENEDORES PADRES - SON 3 ======== */
    
    .imginput img{
        width: 50%;
    }

}