*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/*=======================================*/
                /* MAIN */
/*=======================================*/

.main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.main-header-space{     /*=== espacio generado porque el header es fixed === */
    width: 100%;
    height: 100px;
}
.main-section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
}
.container{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
    align-items: center;
}
.form{
    width: 70%;
    max-width: 330px;
}
.imginput{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
}
.imginput img{
    display: flex;
    height: 80%;
}
.imginput input{
    display: flex;
    width: 80%;
}
.table{
    height: 100%;
    width: 100%;
}

.mark{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 35px;
    margin: 7px 0px;
    margin-top: 3px;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    align-items: center;
    padding-left: 10px;

}

.input{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: solid white
}
.custom-file{
    display: flex;
    width: 50%;
}

.btns{
    display: flex;
    flex-wrap: wrap;
    /* align-self: flex-end; */
    justify-content: flex-end;
    margin-bottom: 20px;
}

.a-btn{
    width: 30vw;
    height: 35px;
    margin: 7px;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    background-color: #008891;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 330px;
}
.a-btn a{
    text-decoration: none;
    color: white;
    font-size: bolder;
}

.a-btn:hover{
    cursor: pointer;
    background-color: #00587a;
}

@media (min-width: 361px){
    .imginput input{
        width: 50%;
    }
}

@media (min-width: 768px){
    .main-section{
        flex-direction: row;
        height: 400px;
        align-items: center;
    }
    .container{
        width: 50%;
        height: 100%;
    }
    .imginput{
        width: 50%;
        height: 100%;
    }
}