*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/*=======================================*/
                /* MAIN */
/*=======================================*/

.main{  
    width: 100%;
}
.main-header-space{     /*=== espacio generado porque el header es fixed === */
    width: 100%;
    height: 100px;
}
.product{
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
}
p{
    font-size:10px ;
}

img{
    width: 90%;
}

.detail-product, .outlet{
    color: #008891;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.btns{
    display: flex;
    flex-wrap: wrap;
    /* align-self: flex-end; */
    justify-content: flex-end;
}


.btn-destroy, .a{
    width: 40vw;
    height: 30px;
    margin: 7px;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    background-color: #008891;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    width: 70%;
    max-width: 500px;
    border: solid 1px #008891;
    border-radius: 0.5rem;
    background-color: #008891;
    color: #e7e7de;
}
@media (min-width: 500px){
    .btn-destroy, .a{
        width: 20vw;
    }
}
