<!doctype html>
<html lang="es">
<%- include ('../partials/head') %>
<body>
    <%- include ('../partials/header') %>
    <main class="main">
        <div class="main-header-space"></div>   
        <div class="card-body">
            <h2 class="h2">Crear un Producto</h2>
        </div>

        <section class="formulario">
            <div class="container">
                <div class="create-form">
                    <form action="/create" method="POST" enctype="multipart/form-data" >
                        <div class="form">
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre" required="required" value="">
                        </div>	
                        <div class="form">
                            <input type="text" class="form-control" name="descripcion" placeholder="Descripción" required="required" value="">
                        </div>
                        <div class="form">
                            <input type="number" class="form-control" name="precio" placeholder="Precio" required="required" value="">
                        </div>
                        <div class="form">
                            <select  name="descuento" class="custom-select" id="validationCustom04" required>
                                <option value="0">Sin descuento</option>
                                <option value="15">15%</option>
                                <option value="30">30%</option>
                                <option selected disabled value="#">Elija su descuento</option>
                            </select>
                        </div>
                            <!--Aquí solicito la imagen-->
                        <div class="file">
                            <input type="file" name="images" >
                                    <!--<input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="imagen" required value=""> 

                                    <label class="custom-file-label" for="inputGroupFile01">Seleccione una imagen...</label>-->
                        </div>
                        <div class="form">
                            <button type="submit" class="btn btn btn-info">Guardar</button>
                            <a href="/admin" class="btn btn-danger">Volver</a>
                        </div>                            
                    </form>
                </div>
            </div>
        </section>
    </main>
   <!--  <%- include ('../partials/footer') %> -->
</body>
</html>