<%- include ('../partials/head') %>
<body class="body">
    <%- include ('../partials/header') %>
    <main class="main">
        <div class="main-header-space"></div>
        <section class="main-login">
        <p>recuperar contrase침a</p>
        <section class="section-login">
            <form action="/api-email" method="POST" class="form-login">
                <div class="user-name">
                    <input class="input" type="email" placeholder="correo electr칩nico">
                </div>
                <div class="btn-get-in">
                    <button id="btn-enter" type="submit"> enviar </button>
                </div>
            </form>
            <div class="create-acount"><a href="/registrarse">cre치 tu cuenta</a></div>
            <div class="create-acount" id="login"><a href="/ingresar">ingres치 con tu usuario</a></div>
        </section>
    </section>
    </main>    
    <%- include ('../partials/footer') %>
</body>
</html>